<%- include("header") %>
    <h2>about deez nutz</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta vitae, ducimus magni, officia fugit assumenda commodi voluptatibus tempore aliquid suscipit voluptas a sed et similique ut non nisi culpa itaque!</p>

<%- include("footer") %>