<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
</head>
<body>
<!--     
  <%  if(dayPresentinList === "Wednesday" || dayPresentinList === "Sunday"){ %>
        <h1 style="color:bisque">Today is <%= dayPresentinList %> </h1>
  <%  } else{ %>
        <h1>TOday is <%= dayPresentinList %></h1>
<% } %> -->
      <h1>TOday is <%= dayPresentinList %></h1>
</body>
</html>