body,h1{
    margin: 0;
    padding: 0;
    text-align: center;
}
.top-container{
    background-color: rgb(193, 226, 255);
    
}
.middle-container{
    background-color: aquamarine;
    height: 200px;
    width: 200px;   
}
.bottom-container{
    background-color: aqua;
    height: 200px;
    width: 200px;
   
}
.top-cloud,.bottom-cloud{
    position: absolute;
}
h1{
    padding-top: 120px;
    
}
.top-cloud{
    right: 430px;
    top: 50px;
}
