body{
    margin: 0;
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
}
.top-container{
    background-color: rgb(193, 226, 255);
    position: relative;
    padding-top: 100px;
}
.middle-container{
     
}
.bottom-container{
   
   
}
.top-cloud,.bottom-cloud{
    position: absolute;
}
h1{
    
    font-size: 90px;
    font-family: 'Nabla', cursive;
    margin: 50px auto 10px auto;
    
}
h2{
    font-family: 'Dosis', sans-serif;
    font-size: 2.5rem;
}
h3{
    font-family: 'Dosis', sans-serif;
}
.top-cloud{
    right: 430px;
    top: 50px;
}
.bottom-cloud{
    bottom: 300px;
}
